@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

a {
  text-decoration: none;
}

body {
  background: black;
  height: 100vh;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.line-rounded {
  position: relative;
  @apply lg:w-5 lg:h-5 sm:w-3 sm:h-3 xsm:w-[10px] xsm:h-[10px] rounded-full bg-[#915EFF] top-[-40px];
}
.line-rounded::after {
  content: "";
  @apply absolute lg:w-[3px] lg:h-[400px] sm:w-[2px] sm:h-[300px] xsm:h-[200px] xsm:w-[1px] rounded-full lg:right-[8.5px] xsm:right-[4.5px];
  background: linear-gradient(
    180deg,
    rgba(145, 94, 255, 1) 0%,
    rgba(145, 94, 255, 0) 100%
  );
}

.container {
  @apply md:w-3/4 xsm:w-[90%] max-w-[1200px] mx-auto;
}

/* body::before {
  background-image: radial-gradient(
      at 10% 29%,
      rgb(38, 0, 143) 0px,
      transparent 50%
    ),
    radial-gradient(at 33% 50%, rgb(0, 134, 42) 0px, transparent 50%);
  height: 100vh;
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  opacity: 0.4;
  top: 0;
  animation: gradient 15s ease infinite;
  background-size: 300% 300%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
