@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
}

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scrollbar-width: none; */
}

.snap {
  scroll-snap-align: start;
  -webkit-scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
}

body {
  background: black;
}

.line-rounded {
  position: relative;
  @apply lg:w-5 lg:h-5 sm:w-3 sm:h-3 xsm:w-[10px] xsm:h-[10px] rounded-full bg-[#915EFF] top-[-40px];
}
.line-rounded::after {
  content: "";
  @apply absolute lg:w-[3px] lg:h-[400px] sm:w-[2px] sm:h-[300px] xsm:h-[200px] xsm:w-[1px] rounded-full lg:right-[8.5px] xsm:right-[4.5px];
  background: linear-gradient(
    180deg,
    rgba(145, 94, 255, 1) 0%,
    rgba(145, 94, 255, 0) 100%
  );
}

.container {
  @apply md:w-3/4 xsm:w-[90%] max-w-[1200px] mx-auto;
}
.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  right: 0;
  bottom: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
}

.overlay:hover::after {
  content: "see demo";
  position: absolute;
  height: 100%;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
